<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Site Educacional</h1>
        <nav>
            <ul>
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/jogotela">Jogos</a></li>
                <li><a href="http://localhost:3000/videotela">Vídeo</a></li>
                <li><a href="http://localhost:3000/material">Material Didático</a></li>
                <li><a href="http://localhost:3000/favoritos">Favoritos</a></li>
                <li><a href="http://localhost:3000/familia">Família</a></li>
                <li><a href="http://localhost:3000/perfil">Perfil da Criança</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Conteúdo Favoritos</h2>
    </main>
    
</body>
</html>